<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - COSMESTIC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/COSMESTIC.styles.css" asp-append-version="true" />
    <!-- Cách mới - Material Symbols -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>

<body>
    @{
        var catalogs = ViewBag.Catalogs as List<COSMESTIC.Models.Data.Catalogs>;
    }

    @{

        var role = Context.Session.GetString("role");
        var id = Context.Session.GetString("UserID");
        var username = Context.Session.GetString("Username");
        var countItem = Context.Session.GetInt32("CartItemCount");
        if (countItem == null)
        {
            Console.WriteLine("huhu");
        }



    }
    <header class="header_nav fixed-top">
        <nav class="navbar  navbar-expand-sm navbar-toggleable-sm h-100 navbar-light  border-bottom box-shadow " style="background-color: #346A54;">
            <div class="container-fluid h-100 d-flex ">
                <div class="col-3" style="padding-left: 10px;">
                    <a class="navbar-brand kaushan-script-regular text-white" asp-area="" asp-controller="Product" asp-action="Product" style="">
                        <img src="~/Img/logo.png" style="border-radius: 100px; width: 80px;height: 80px;" />
                        COSMETIC
                    </a>
                </div>



                <div class="dropdown col-1">
                    <div class=" dropdown-toggle text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 17px;">
                        Danh Mục
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="dropdown-item" style="cursor: pointer;"><a href="Product/Product" style="color: black;">All</a></li>

                        @foreach (var catalog in catalogs ?? new List<COSMESTIC.Models.Data.Catalogs>())
                        {
                            <li class="dropdown-item" style="cursor: pointer;" onclick="loadProducts(@catalog.catalogID)">
                                @catalog.catalogName
                            </li>
                        }



                    </ul>
                </div>
                <div class="navbar-collapse collapse flex-column mb-3 justify-content-md-start gap-1 mt-2 col-4" id="search-home">
                    <div class="d-flex gap-2 ">
                        <a class="a-link-catalog" href="#">Kem chống nắng</a>
                        <a class="a-link-catalog" href="#">Kem dưỡng ẩm</a>
                        <a class="a-link-catalog" href="#">Sữa rửa mặt</a>
                    </div>
                    <input class="form-control w-50 me-2" id="search-product-home" type="search" placeholder="Tìm kiếm sản phẩm bạn muốn.." aria-label="Search">

                </div>
                <div class="col-3">
                    <div class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-white" style="font-size: 30px;">
                            account_circle
                        </span>

                        <div class="col-3">
                            <div class="d-flex align-items-center gap-2">


                                @if (role != null)
                                {
                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-white text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @username
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/Account/Detail">Xem thông tin tài khoản</a></li>
                                            <li><a class="dropdown-item" href="/ShoppingCart/Index">Giỏ hàng</a></li>
                                            <li><a class="dropdown-item" href="/Order/MyOrders">Đơn hàng của tôi</a></li>
                                            <li>
                                                <form asp-action="logout" asp-controller="Account" method="post">
                                                    <button type="submit" class="dropdown-item">Đăng xuất</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex flex-column">
                                        <a href="/Login/Login" class="text-white">Đăng nhập</a>
                                        <a href="/Register/Register" class="text-white">Đăng ký</a>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-1 text-white">

                    @if (role != null)
                    {
                        <div class="cart-icon" onclick="openCart()">
                           
                            <span type="button" class="position-relative material-symbols-outlined" style="font-size: 30px;">
                                add_shopping_cart
                                <span id="countItemCart" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 10px;">
                                    @countItem
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </span>
                            <span id="cart-count">@ViewBag.CartItemCount</span> <!-- Hiển thị số sản phẩm trong giỏ -->
                        </div>

                        <script>
                            function openCart() {

                            window.location.href = '@Url.Action("Index", "ShoppingCart")';
                            }
                        </script>
                    }
                    else
                    {

                    }

                </div>
            </div>
           

        </nav>
    </header>
    <div class="container container-main">
        <main role="main" id="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted " style="background-color: #346A54;">
        <div class="container">
            &copy; 2025 - COSMETIC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/search-product.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
