@model List<COSMESTIC.Models.Data.Products>
<div>
    
    @if (Model != null && Model.Any() && Model[0]?.catalog != null)
    {
        
       <div style="border: inherit;" class="d-flex">
            <div>
                @Model[0].catalog.catalogName <span>(<span style="opacity: 0.5;">@Model.Count() sản phẩm</span>)</span>
            </div>

            <div class="flex-column flex-column">
                <div>
                    Khoảng giá
                </div>
                <div>
                    <div>
                       
                        <input name="min" id="min" type="number" style="width: 50px;" placeholder="TỪ" />
                        
                        <input name="max" id="max" type="number" style="width: 50px;" placeholder="ĐẾN"/>
                    </div>

                </div>
            </div>
       </div>
    }
    else
    {
        <div>Rỗng</div>
    }

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var product in Model)
        {
            <div class="col" onclick="getDetail(@product.productID, '@product.productName')">
                <div class="card h-100 shadow-sm card-radius">
                    <img src="@Url.Content("~/" + product.imagePath)" class="card-img-top" style="height: 200px; object-fit: contain;" />
                    <div class="card-body">
                        <h6 class="card-title text-truncate" title="@product.productName">@product.productName</h6>
                        <p class="mb-1 text-danger fw-bold">@product.price.ToString("N0") ₫</p>
                        <div class="mt-3 d-grid">
                            <button class="btn btn-outline-warning button">🛒 Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>