@model COSMESTIC.Models.Data.Products;

    @{
    var role = Context.Session.GetString("role");


}
<div class="container product-detail">
    <div class="row mt-5">
        <div class="col-md-5 product-image">
            <img src="~/@Model.imagePath" alt="@Model.productName" class="img-fluid rounded shadow" />
        </div>
        <div class="col-md-7 product-info">
            <h2 class="product-name text-danger">@Model.productName</h2>
            <h3 class="product-price text-warning">
                Giá: @Model.price.ToString("N0") ₫
            </h3>

            <div class="quantity-selector d-flex align-items-center mb-3">
                <button class="btn btn-light btn-quantity" id="decrease-btn">
                   -
                </button>
                <span id="quantity-display">0</span>
                <button class="btn btn-light btn-quantity" id="increase-btn">
                    +
                </button>
            </div>

            <div class="product-description mb-4">
                <strong>Mô tả:</strong> @Model.productDescription
            </div>

            <div class="action-buttons d-flex gap-5">
              
                @if (role == "Customer")
                {
                    <div class=""> <button class="btn btn-success me-2">Mua ngay</button></div>
                    <form method="post" action="@Url.Action("AddToCart", "ShoppingCart")">
                        <div class="">
                            <input  type="hidden" name="productId" value="@Model.productID" />
                            <button class="btn btn-danger">Thêm vào giỏ hàng</button>
                        </div>
                    </form>
                }
                else
                {
                    <div class="" onclick="alertLogin()"> <button class="btn btn-success me-2">Mua ngay</button></div>
                    <div class="" onclick="alertLogin()">
                        <input type="hidden" name="productId" value="@Model.productID" />
                        <button class="btn btn-danger">Thêm vào giỏ hàng</button>
                    </div>
                }
            </div>
        </div>
        @if (role == null)
        {
            <div id="deleteModal" class="modal" style="display: none;">

                <div class="modal-content">
                    <span class="material-symbols-outlined" style="color: black; margin-right: auto;" id="close" onclick="setCursor()">
                        close
                    </span>
                    <p class="text-center" style="font-size: 20px;">Vui lòng đăng nhập</p>
                    <div class="d-flex justify-content-sm-between">
                        <form action="/Login/Login" method="get">
                            <button type="submit" class="btn btn-danger" id="confirmDelete">Đăng nhập</button>
                        </form>


                        <form action="/Register/Register"> <button id="cancelDelete" class="btn btn-secondary">Đăng ký tài khoản</button> </form>
                    </div>
                </div>
            </div>
        }
    </div>
    
</div>


@section Scripts {
    <script src="~/js/productDetail.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/productDetail.css" />
}
<script src="~/js/alertLogin.js"></script>